# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Capacitor native projects
# android/ se commitea porque tiene cambios manuales (AndroidManifest, iconos)
ios/

# Signing keys
*.jks
*.keystore

.claude
,github
.playwright-mcp
    